# 1 Assignment 4

In [2]:
!pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\users\usuario\anaconda3\lib\site-packages (1.2.6)
Requirement already satisfied: pandas>=1.2.0 in c:\users\usuario\anaconda3\lib\site-packages (from pyreadstat) (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)

In [3]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request
import pyreadstat

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [20]:
from IPython.display import display, HTML

In [24]:
from tabulate import tabulate

In [4]:
# Here we are accessing the file paths

In [5]:
file_paths = [
    "../../_data/endes/2019/REC0111.sav",
    "../../_data/endes/2019/RE223132.sav",
    "../../_data/endes/2019/RE516171.sav"
]

In [6]:
# Here we are designating the names for the DataFrames

In [7]:
dataframe_names = ['rec_1', 'rec_2', 'rec_3']

In [8]:
# Here we are designating the names for the variable and value labels

In [9]:
var_labels_names = ['var_labels1', 'var_labels2', 'var_labels3']
value_labels_names = ['value_labels1', 'value_labels2', 'value_labels3']

In [10]:
# Here we are creating the dictionaries to store DataFrames and tags

In [11]:
dataframes = {}
var_labels = {}
value_labels = {}

In [12]:
# Here we are importing and assigning names using for

In [14]:
for file_path, df_name, var_name, value_name in zip(file_paths, dataframe_names, var_labels_names, value_labels_names):
    df, meta = pyreadstat.read_sav(file_path, apply_value_formats=True)

In [17]:
# Here we are assigning names to the variables and data

In [15]:
    df.name = df_name
    var_labels[var_name] = meta.column_labels
    value_labels[value_name] = meta.variable_value_labels

In [18]:
# Here we are storing DataFrames

In [16]:
    dataframes[df_name] = df

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter, `for loop`,   and [this link](https://stackoverflow.com/questions/3420122/filter-dict-to-contain-only-certain-keys) to update the var and value dictionary.**

In [28]:
# Here we are accessing the paths of the desired files and names

In [29]:
file_paths = ["../../_data/endes/2019/REC0111.sav", "../../_data/endes/2019/RE223132.sav", "../../_data/endes/2019/RE516171.sav"]
dataframe_names = ["rec_1", "rec_2", "rec_3"]
var_labels_names = ["new_var_labels1", "new_var_labels2", "new_var_labels3"]
value_labels_names = ["new_value_labels1", "new_value_labels2", "new_value_labels3"]

In [30]:
# Here we are creating dictionaries to store the DataFrames and tags

In [31]:
dataframes = {}
var_labels = {}
value_labels = {}

In [34]:
# Here we are reading the sav file

In [41]:
for file_path, df_name, var_name, value_name in zip(file_paths, dataframe_names, var_labels_names, value_labels_names):
    
    df, meta = pyreadstat.read_sav(file_path, apply_value_formats=True)

In [39]:
# Here we are printing the columns available in the original data set

In [42]:
    print(f"\nColumnas disponibles en {df_name}:\n{df.columns}\n")

Columnas disponibles en rec_3:
Index(['ID1', 'CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507',
       'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V527', 'V528',
       'V529', 'V530', 'V531', 'V532', 'V535', 'V536', 'V537', 'V538', 'V539',
       'V540', 'V541', 'V602', 'V603', 'V604', 'V605', 'V613', 'V614', 'V616',
       'V621', 'V623', 'V624', 'V625', 'V626', 'V627', 'V628', 'V629', 'V631',
       'V632', 'V633A', 'V633B', 'V633C', 'V633D', 'V633E', 'V633F', 'V633G',
       'V634', 'V701', 'V702', 'V704', 'V705', 'V714', 'V714A', 'V715', 'V716',
       'V717', 'V719', 'V721', 'V729', 'V730', 'V731', 'V732', 'V739', 'V740',
       'V741', 'V743A', 'V743B', 'V743C', 'V743D', 'V743E', 'V743F', 'V744A',
       'V744B', 'V744C', 'V744D', 'V744E', 'V746'],
      dtype='object')

In [43]:
# Here we are selecting the desired columns

In [44]:
    selected_columns = df.columns

In [45]:
    df = df[selected_columns]

In [46]:
# Here we are updating the DataFrames

In [47]:
    dataframes[df_name] = df

In [48]:
# Here we are filtering the variable labels and values

In [51]:
    var_labels[var_name] = {var: meta.variable_to_label[var] for var in selected_columns if var in meta.variable_to_label}
    value_labels[value_name] = {val: meta.value_labels[val] for val in selected_columns if val in meta.value_labels}

In [ ]:
# Here we are showing the results

In [52]:
for df_name, df in dataframes.items():
    print(f"\nDataFrame {df_name}:\n{df.head()}\n")

DataFrame rec_3:
      ID1              CASEID             V501                  V502  \
0  2019.0        000100201  2           Casado    Actualmente casada
1  2019.0        000102801  2  Viviendo juntos    Actualmente casada
2  2019.0        000102801  6  No viven juntos  Anteriormente casada
3  2019.0        000104801  2  Viviendo juntos    Actualmente casada
4  2019.0        000113601  2  Viviendo juntos    Actualmente casada

             V503           V504 V505 V506  V507    V508  ...  \
0         Una vez  Vive con ella  NaN  NaN   1.0  2008.0  ...
1         Una vez  Vive con ella  NaN  NaN  12.0  2011.0  ...
2         Una vez            NaN  NaN  NaN   8.0  1984.0  ...
3         Una vez  Vive con ella  NaN  NaN  12.0  2009.0  ...
4  Mas de una vez  Vive con ella  NaN  NaN  12.0  2005.0  ...

                             V743C                            V743D  \
0                     Entrevistada  Entrevistada y esposo/compañero
1  Entrevistada y esposo/compañero                     Entrevistada
2                              NaN                              NaN
3                     Entrevistada                     Entrevistada
4                     Entrevistada                     Entrevistada

                             V743E                            V743F V744A  \
0                     Entrevistada                 Esposo/compañero    No
1                     Entrevistada  Entrevistada y esposo/compañero    No
2                              NaN                              NaN    No
3                     Entrevistada                     Entrevistada    No
4  Entrevistada y esposo/compañero                 Esposo/compañero    No

  V744B V744C V744D V744E          V746
0    No    No    No    No    Más que el
1    No    No    No    No  Menos que el
2    No    No    No    No           NaN
3    No    No    No    No           NaN
4    No    No    No    No  Menos que el

[5 rows x 84 columns]

In [53]:
for var_name, labels in var_labels.items():
    print(f"\nVariable Labels {var_name}:\n{labels}\n")

Variable Labels new_var_labels3:
{'V501': 'labels0', 'V502': 'labels1', 'V503': 'labels2', 'V504': 'labels3', 'V505': 'labels4', 'V506': 'labels5', 'V510': 'labels6', 'V513': 'labels7', 'V525': 'labels8', 'V527': 'labels9', 'V528': 'labels10', 'V529': 'labels11', 'V530': 'labels12', 'V531': 'labels13', 'V532': 'labels14', 'V535': 'labels15', 'V536': 'labels16', 'V537': 'labels17', 'V538': 'labels18', 'V539': 'labels19', 'V540': 'labels20', 'V541': 'labels21', 'V602': 'labels22', 'V603': 'labels23', 'V604': 'labels24', 'V605': 'labels25', 'V613': 'labels26', 'V614': 'labels27', 'V616': 'labels28', 'V621': 'labels29', 'V623': 'labels30', 'V624': 'labels31', 'V625': 'labels32', 'V626': 'labels33', 'V627': 'labels34', 'V628': 'labels35', 'V629': 'labels36', 'V631': 'labels37', 'V632': 'labels38', 'V633A': 'labels39', 'V633B': 'labels40', 'V633C': 'labels41', 'V633D': 'labels42', 'V633E': 'labels43', 'V633F': 'labels44', 'V633G': 'labels45', 'V634': 'labels46', 'V701': 'labels47', 'V702': 'labels48', 'V704': 'labels49', 'V705': 'labels50', 'V714': 'labels51', 'V714A': 'labels52', 'V715': 'labels53', 'V716': 'labels54', 'V717': 'labels55', 'V719': 'labels56', 'V721': 'labels57', 'V729': 'labels58', 'V730': 'labels59', 'V731': 'labels60', 'V732': 'labels61', 'V739': 'labels62', 'V740': 'labels63', 'V741': 'labels64', 'V743A': 'labels65', 'V743B': 'labels66', 'V743C': 'labels67', 'V743D': 'labels68', 'V743E': 'labels69', 'V743F': 'labels70', 'V744A': 'labels71', 'V744B': 'labels72', 'V744C': 'labels73', 'V744D': 'labels74', 'V744E': 'labels75', 'V746': 'labels76'}

In [54]:
for value_name, labels in value_labels.items():
    print(f"\nValue Labels {value_name}:\n{labels}\n")

Value Labels new_value_labels3:
{}

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

6. Now, replicate your code of the prevoius sections but for years **2019, 2018, 2017, 2016, 2015**. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their **variables and values labels** from this path `"../../_data/endes/"`. For this excersie you must use a for loop. This loop must iterate over **2019, 2018, 2017, 2016, 2015 folders** and import these files. All the files have the same name. You must store these files and their labels in a nested dictionary named as `all_data`. The keys of the dictionary should be named as `year_2019`, for example, and the keys of the nested dictionary should be `data`, `var_labels`, and `value_labels`. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.)**

7. Use `all_data` to append all the data sets. Store all data sets in a list using `for loop`. Then, use `pd.concat` to append all the data sets. Also, you must reset the index to have a good-looking data. This new object should be named as `endes_data_2015_2019`. **Hint: Use [this code](https://stackoverflow.com/questions/32444138/concatenate-a-list-of-pandas-dataframes-together)**

8. Store all the `var_labels` and `value_labels` in a dictionary named as `all_var_labels` and `all_value_labels`. The first keys should be the year for both dictionaries.Then, use them to generate new attributes for `endes_data_2015_2019`. These attributes should be named as `var_labels` and `value_labels`.  **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.3.)**

9. Use `endes_data_2015_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

10. Merge `mean_key_vars` with `endes_data_2015_2019`. Name this object `final_result`. **Hint: Use merge.**