In [5]:
!pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\ana\lib\site-packages (1.2.6)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas>=1.2.0 in c:\ana\lib\site-packages (from pyreadstat) (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\ana\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\ana\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\ana\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\ana\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\ana\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)

In [4]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request
import pyreadstat

Import the REC0111.sav, RE223132.sav and RE516171.sav files and their variables and values labels from this path "../../_data/endes/2019". The name of imported files should be named as rec_1, rec_2 and rec_3 for files REC0111.sav, RE223132.sav and RE516171.sav respectively. The name of the variable and value labels should be var_labels1 and value_labels1 for rec1, var_labels2 and value_labels2 for rec2, and var_labels3 and value_labels3 for rec3. Hint: See the section 3.3.4 of the lecture 3

In [17]:
!pip install savReaderWriter

Requirement already satisfied: savReaderWriter in c:\ana\lib\site-packages (3.4.2)

In [ ]:
#Import the REC0111.sav files

In [31]:
import pandas as pd
import pyreadstat
rec_1, meta = pyreadstat.read_sav('../../_data/endes/2019/REC0111.sav')
type(rec_1)
type(meta)
rec_1.head()

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,2.0,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,0.0,7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,2.0,2.0,2.0,010101,3.0,154803.0,2.0,-0.256431,2.0,7065.0

In [33]:
REC_1 = pd.read_spss(r"../../_data/endes/2019/REC0111.sav")

In [34]:
REC_1

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 años de edad,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.750187,Mujeres de 15 a 49 años de edad,15783.0
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.676861,Mujeres de 15 a 49 años de edad,15783.0
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.585333,Mujeres de 15 a 49 años de edad,15783.0
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.650159,Mujeres de 15 a 49 años de edad,15783.0
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.644720,Mujeres de 15 a 49 años de edad,15783.0

In [ ]:
# Import the RE223132.sav files

In [35]:
import pandas as pd
import pyreadstat
rec_2, meta = pyreadstat.read_sav('../../_data/endes/2019/RE223132.sav')
type(rec_2)
type(meta)
rec_2.head()

,ID1,CASEID,V201,V202,V203,V204,V205,V206,V207,V208,...,V307_09,V307_10,V307_11,V307_12,V307_13,V307_14,V307_15,V307_16,QI302_05A,QI302_05B
0,2019.0,000100201 2,2.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,2.0
1,2019.0,000100201 3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.0,000102801 2,3.0,1.0,2.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,2.0,1.0
3,2019.0,000102801 6,3.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0
4,2019.0,000104801 2,3.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [37]:
REC_2 = pd.read_spss(r"../../_data/endes/2019/RE223132.sav")

In [38]:
REC_2

,ID1,CASEID,V201,V202,V203,V204,V205,V206,V207,V208,...,V307_09,V307_10,V307_11,V307_12,V307_13,V307_14,V307_15,V307_16,QI302_05A,QI302_05B
0,2019.0,000100201 2,2.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,Sí,No
1,2019.0,000100201 3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.0,000102801 2,3.0,1.0,2.0,0.0,0.0,0.0,0.0,2.0,...,No,No,NaN,NaN,NaN,NaN,NaN,No,No,Sí
3,2019.0,000102801 6,3.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No
4,2019.0,000104801 2,3.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,Sí
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36917,2019.0,325406201 2,5.0,1.0,1.0,2.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,Sí
36918,2019.0,325406301 2,5.0,2.0,2.0,0.0,1.0,0.0,0.0,1.0,...,No,Sí,NaN,NaN,NaN,NaN,NaN,NaN,No,Sí
36919,2019.0,325407001 2,8.0,2.0,0.0,5.0,0.0,0.0,1.0,0.0,...,Sí,No,NaN,NaN,NaN,NaN,NaN,NaN,No,Sí
36920,2019.0,325407201 2,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,Sí
36921,2019.0,325407401 2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,Sí

In [39]:
# Import the RE516171.sav files

In [40]:
import pandas as pd
import pyreadstat
rec_3, meta = pyreadstat.read_sav('../../_data/endes/2019/RE516171.sav')
type(rec_3)
type(meta)
rec_3.head()

,ID1,CASEID,V501,V502,V503,V504,V505,V506,V507,V508,...,V743C,V743D,V743E,V743F,V744A,V744B,V744C,V744D,V744E,V746
0,2019.0,000100201 2,1.0,1.0,1.0,1.0,NaN,NaN,1.0,2008.0,...,1.0,2.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2019.0,000102801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2011.0,...,2.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0
2,2019.0,000102801 6,5.0,2.0,1.0,NaN,NaN,NaN,8.0,1984.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
3,2019.0,000104801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2009.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2019.0,000113601 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,2005.0,...,1.0,1.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,2.0

In [41]:
REC_3 = pd.read_spss(r"../../_data/endes/2019/RE516171.sav")

In [42]:
REC_3

,ID1,CASEID,V501,V502,V503,V504,V505,V506,V507,V508,...,V743C,V743D,V743E,V743F,V744A,V744B,V744C,V744D,V744E,V746
0,2019.0,000100201 2,Casado,Actualmente casada,Una vez,Vive con ella,NaN,NaN,1.0,2008.0,...,Entrevistada,Entrevistada y esposo/compañero,Entrevistada,Esposo/compañero,No,No,No,No,No,Más que el
1,2019.0,000102801 2,Viviendo juntos,Actualmente casada,Una vez,Vive con ella,NaN,NaN,12.0,2011.0,...,Entrevistada y esposo/compañero,Entrevistada,Entrevistada,Entrevistada y esposo/compañero,No,No,No,No,No,Menos que el
2,2019.0,000102801 6,No viven juntos,Anteriormente casada,Una vez,NaN,NaN,NaN,8.0,1984.0,...,NaN,NaN,NaN,NaN,No,No,No,No,No,NaN
3,2019.0,000104801 2,Viviendo juntos,Actualmente casada,Una vez,Vive con ella,NaN,NaN,12.0,2009.0,...,Entrevistada,Entrevistada,Entrevistada,Entrevistada,No,No,No,No,No,NaN
4,2019.0,000113601 2,Viviendo juntos,Actualmente casada,Mas de una vez,Vive con ella,NaN,NaN,12.0,2005.0,...,Entrevistada,Entrevistada,Entrevistada y esposo/compañero,Esposo/compañero,No,No,No,No,No,Menos que el
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33306,2019.0,325406201 2,Viviendo juntos,Actualmente casada,Mas de una vez,Vive con ella,NaN,NaN,12.0,1985.0,...,Entrevistada y esposo/compañero,Entrevistada y esposo/compañero,Entrevistada y esposo/compañero,Entrevistada y esposo/compañero,No,No,No,No,No,NaN
33307,2019.0,325406301 2,Viviendo juntos,Actualmente casada,Una vez,Vive con ella,NaN,NaN,12.0,2002.0,...,Entrevistada,Entrevistada,Entrevistada,Entrevistada y esposo/compañero,No,No,No,No,No,NaN
33308,2019.0,325407001 2,Viviendo juntos,Actualmente casada,Una vez,Vive con ella,NaN,NaN,11.0,1986.0,...,Esposo/compañero,Esposo/compañero,Entrevistada,Entrevistada y esposo/compañero,No,No,No,No,No,NaN
33309,2019.0,325407201 2,Viviendo juntos,Actualmente casada,Una vez,Vive con ella,NaN,NaN,5.0,2008.0,...,Esposo/compañero,Entrevistada,Entrevistada,Entrevistada y esposo/compañero,No,No,No,No,No,NaN
33310,2019.0,325407401 2,Viviendo juntos,Actualmente casada,Una vez,Vive con ella,NaN,NaN,6.0,2013.0,...,Esposo/compañero,Esposo/compañero,Entrevistada,Entrevistada y esposo/compañero,No,No,No,No,No,NaN