In [1]:
#ASSIGNMENT 4

In [3]:
!pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\users\guill\anaconda3\lib\site-packages (1.2.6)
Requirement already satisfied: pandas>=1.2.0 in c:\users\guill\anaconda3\lib\site-packages (from pyreadstat) (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\guill\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\guill\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\guill\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\guill\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\guill\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)

In [10]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request
import pyreadstat

In [16]:
# 1 import Rec_1 and name variables and values
rec_1, meta_1 = pyreadstat.read_sav( r"../../_data/endes/2019/REC0111.sav") 
var_labels1 = meta_1.variable_value_labels
value_labels1 = meta_1.value_labels


rec_1

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,2.0,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,0.0,7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,2.0,2.0,2.0,010101,3.0,154803.0,2.0,-0.256431,2.0,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.750187,2.0,15783.0
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.676861,2.0,15783.0
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,2.0,2.0,2.0,250401,249.0,459792.0,1.0,-1.585333,2.0,15783.0
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,2.0,2.0,2.0,250401,249.0,459792.0,1.0,-1.650159,2.0,15783.0
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.644720,2.0,15783.0

In [20]:
# 1 import Rec_2 and name variables and values
rec_2,meta_2 = pyreadstat.read_sav( r"../../_data/endes/2019/RE223132.sav")

var_labels2 = meta_2.variable_value_labels
value_labels2 = meta_2.value_labels

rec_2

,ID1,CASEID,V201,V202,V203,V204,V205,V206,V207,V208,...,V307_09,V307_10,V307_11,V307_12,V307_13,V307_14,V307_15,V307_16,QI302_05A,QI302_05B
0,2019.0,000100201 2,2.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,2.0
1,2019.0,000100201 3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.0,000102801 2,3.0,1.0,2.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,2.0,1.0
3,2019.0,000102801 6,3.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0
4,2019.0,000104801 2,3.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36917,2019.0,325406201 2,5.0,1.0,1.0,2.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36918,2019.0,325406301 2,5.0,2.0,2.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36919,2019.0,325407001 2,8.0,2.0,0.0,5.0,0.0,0.0,1.0,0.0,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36920,2019.0,325407201 2,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36921,2019.0,325407401 2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [21]:
# 1 import Rec_3 and name variables and values
rec_3,meta_3 = pyreadstat.read_sav( r"../../_data/endes/2019/RE516171.sav")


var_labels3 = meta_3.variable_value_labels
value_labels3 = meta_3.value_labels

rec_3

,ID1,CASEID,V501,V502,V503,V504,V505,V506,V507,V508,...,V743C,V743D,V743E,V743F,V744A,V744B,V744C,V744D,V744E,V746
0,2019.0,000100201 2,1.0,1.0,1.0,1.0,NaN,NaN,1.0,2008.0,...,1.0,2.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2019.0,000102801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2011.0,...,2.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0
2,2019.0,000102801 6,5.0,2.0,1.0,NaN,NaN,NaN,8.0,1984.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
3,2019.0,000104801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2009.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2019.0,000113601 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,2005.0,...,1.0,1.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33306,2019.0,325406201 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,1985.0,...,2.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
33307,2019.0,325406301 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2002.0,...,1.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
33308,2019.0,325407001 2,2.0,1.0,1.0,1.0,NaN,NaN,11.0,1986.0,...,4.0,4.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
33309,2019.0,325407201 2,2.0,1.0,1.0,1.0,NaN,NaN,5.0,2008.0,...,4.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
33310,2019.0,325407401 2,2.0,1.0,1.0,1.0,NaN,NaN,6.0,2013.0,...,4.0,4.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN

In [25]:
# 2 

selected_rec1 = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133']
selected_rec2 = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']
selected_rec3 = ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']

rec1_1 = rec_1.loc[:, selected_rec1]
rec2_1 = rec_2.loc[:, selected_rec2]
rec3_1 = rec_3.loc[:, selected_rec3]

rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V024,V102,V120,V121,V122,V123,V124,V125,V127,V133
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0