# TUPLE

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

1.

In [2]:
print(tuple1 [1][0])

10

Explanation: each element is separated by a comma, so the second element is [10, 20, 30] and the first element of this element is 10.

2.

In [3]:
print ( tuple1[-1])

(5, 15, 25)

Explanation: To print the last item we have to use negative indexing.

3.

It’s not possible because the tuples don’t change.They cannot be modified, they remain the same until the end once created.

4.

In [4]:
print(len(tuple1))

3

Explanation: We use the len function to know the number of elements

5.

In [5]:
tuple2 = ([7, 8], [9, 1], [10, 7])

Step1: We have to use the sum function to each sublist using map

In [8]:
map_sum = map(sum, tuple2)

Step2: We have to convert map_sum to a list

In [9]:
list_sum= list(map_sum)

Step 3: We have to sum all the individual sums

In [10]:
all_sum= sum(list_sum)

Step 4: We have to print to get the result

In [11]:
print(all_sum)

42

6.

In [1]:
tuple2 = ([7, 8], [9, 1], [10, 7])
tuple3 = tuple([list(map(lambda x: x/2, sublist)) for sublist in tuple2])
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

In [ ]:
Explanation: lambda x: x/2 defines a function that halves the values of tuple2. The [list(map(...)) for sublist in tuple2] loop applies this operation to each list in tuple2.

1.

In [2]:
import numpy as np

f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]
indices = [i for i, x in enumerate(f_list) if x is np.nan]

print(f"The indices {', '.join(map(str, indices))} have np.nan values.")

The indices 0, 1, 4, 7 have np.nan values.

In [ ]:
Explanation: enumerate function allows us to find the position of the values in a list.

2.

In [3]:
p2_list = [ 2 , 3, 4, 5 ]
replicated_list = p2_list * 4
print(replicated_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [ ]:
Explanation: multiplication function allows us to quadruple the list.

3.

In [4]:
import numpy as np

f_list = [np.nan, np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan]
length_of_list = len(f_list)
print(length_of_list)

8

In [ ]:
Explanation: length function allows us to know the number of values in the list.

# 1.3 Strings

In [2]:
# Input data provided
str1 = 'I am                            too                                                        old'
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

## 1.

In [3]:
# Eliminate redundant whitespace in the string, str1
withoutblanks_str1 = ' '.join(str1.split())
print(withoutblanks_str1)

I am too old

## 2.

In [ ]:
# Calculate the cardinality of alphabetical characters within the specified string, considering its length and individual occurrences of each letter.
num_letters = sum(char.isalpha() for char in str1)
print(num_letters)

## 3.

In [5]:
# Retrieve the count of whitespace characters within the string.
num_spaces = sum(map(str.isspace, str1))
print(num_spaces)

85

In [6]:
# Derive the count of spaces devoid of any additional whitespace characters within the given string.
num_spaces = sum(map(str.isspace, withoutblanks_str1))
print(num_spaces)

3

## 4.

In [7]:
# Provided a list of emails, utilize map and find functions to determine the position of '@' in each email, showcasing the respective positions of '@' in the emails.
positions_arroba = list(map(lambda email: email.find('@'), emails))
print(positions_arroba)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

## 5.

In [8]:
# Given a list of emails, search for the presence of '.edu.' in each string, generating a list of Booleans representing its existence.
edu_exists = list(map(lambda x: '.edu.' in x, emails))
print(edu_exists)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

## 6.

In [9]:
# Get all the email strings before the first dot ('.') in each email address
emails_before_dot = map(lambda email: email[:email.find('.')], emails)

# Count how many of those substrings contain the '@' symbol
count_with_at = sum(map(lambda email: '@' in email, emails_before_dot))

# Display the total count of email substrings that have '@' after the first dot ('.')
print(count_with_at)

14