<a href="https://colab.research.google.com/github/alexanderquispe/BiLab_Summer_Python/blob/lecture3_group5/Lecture_3/Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.4 Pandas

You can and should always ask ChatGPT, BARD, Bing, etc.
In this exercise, you will work with financial data. Follow the steps below:

1. Load Data:
   Load the financial data available at this URL:    https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv
   Use `pd.read_csv()` adn the link to load the data into a DataFrame.





2. Explore Data:
   a) Display the first five rows of the DataFrame.
   b) Display the summary statistics of the DataFrame.

3. Add Columns:
   a) Add a new column 'Level' that categorizes the 'Close' column values into 'Low' (< 20), 'Medium' (20-30), and 'High' (>30). You need to make a filter to make this categorization. You can see below some suggestions how to do it.
   b) Add a new column 'Year' extracted from the 'Date' column. You need to work with dates. You can do it directly workiwith the column splitting it or changing it to date format an dfollowing the below suggestion.

4. Add Rows:
   a) Add a new row with a date of your choice and fill the other columns with appropriate values.

5. Analysis:
   a) Calculate the average of the column 'Close' for each 'Year'. You need to group for this task.
   b) Count the number of 'High', 'Medium', and 'Low'  Level days in the data.

Suggestions:
   - Use `pd.cut()` for categorizing 'Close' values.
   - Use `pd.to_datetime()` and `dt.year` to extract the year from a date.
   - Use `DataFrame.append()` or `pd.concat()` to add rows.
   - Use `groupby()` for aggregation tasks.

In [23]:
import pandas as pd

In [26]:
data_2024= pd.read_csv('https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv')

In [18]:
 data_2024.head(5)

         DATE   OPEN   HIGH    LOW  CLOSE
0  01/02/1990  17.24  17.24  17.24  17.24
1  01/03/1990  18.19  18.19  18.19  18.19
2  01/04/1990  19.22  19.22  19.22  19.22
3  01/05/1990  20.11  20.11  20.11  20.11
4  01/08/1990  20.26  20.26  20.26  20.26

In [ ]:
#Explore Data: a) Display the first five rows of the DataFrame. b) Display the summary statistics of the DataFrame

In [20]:
data_2024.describe()

              OPEN         HIGH          LOW        CLOSE
count  8578.000000  8578.000000  8578.000000  8578.000000
mean     19.665794    20.473630    18.914197    19.579616
std       7.978835     8.439709     7.469663     7.906064
min       9.010000     9.310000     8.560000     9.140000
25%      13.940000    14.540000    13.400000    13.880000
50%      17.790000    18.465000    17.215000    17.760000
75%      23.097500    23.960000    22.320000    22.990000
max      82.690000    89.530000    72.760000    82.690000

In [ ]:
Add Columns: a) Add a new column 'Level' that categorizes the 'Close' column values i#nto 'Low' (< 20), 'Medium' (20-30), and 'High' (>30). You need to make a filter to make this categorization. You can see below some suggestions how to do it. b) Add a new column 'Year' extracted from the 'Date' column. You need to work with dates. You can do it directly workiwith the column splitting it or changing it to date format an dfollowing the below suggestion.

In [29]:
filtro_low= data_2024.loc[:,'CLOSE'] <20

In [31]:
filtro_medium= (data_2024.loc[:,'CLOSE'] >= 20) & (data_2024.loc[:,'CLOSE'] < 30)

In [33]:
filtro_high= (data_2024.loc[:,'CLOSE'] >= 30)

In [38]:
data_2024.loc[filtro_low, 'LEVEL']= 'Low'

In [39]:
data_2024.loc[filtro_medium, 'LEVEL']= 'Medium'

In [41]:
data_2024.loc[filtro_high, 'LEVEL']= 'High'

In [43]:
print(data_2024)

            DATE   OPEN   HIGH    LOW  CLOSE   LEVEL
0     01/02/1990  17.24  17.24  17.24  17.24     Low
1     01/03/1990  18.19  18.19  18.19  18.19     Low
2     01/04/1990  19.22  19.22  19.22  19.22     Low
3     01/05/1990  20.11  20.11  20.11  20.11  Medium
4     01/08/1990  20.26  20.26  20.26  20.26  Medium
...          ...    ...    ...    ...    ...     ...
8573  01/02/2024  13.22  14.23  13.10  13.20     Low
8574  01/03/2024  13.35  14.22  13.33  14.04     Low
8575  01/04/2024  13.93  14.20  13.64  14.13     Low
8576  01/05/2024  14.24  14.58  13.29  13.35     Low
8577  01/08/2024  14.00  14.18  13.02  13.08     Low

[8578 rows x 6 columns]

In [ ]:
# b) Add a new column 'Year' extracted from the 'Date' column. You need to work with dates. You can do it directly workiwith the column splitting it or changing it to date format an dfollowing the below suggestion

In [44]:
df = pd.DataFrame(data_2024)

In [45]:
df['DATE'] = pd.to_datetime(df['DATE'])

In [46]:
df['Year'] = df['DATE'].dt.year

In [47]:
print(data_2024)

           DATE   OPEN   HIGH    LOW  CLOSE   LEVEL  Year
0    1990-01-02  17.24  17.24  17.24  17.24     Low  1990
1    1990-01-03  18.19  18.19  18.19  18.19     Low  1990
2    1990-01-04  19.22  19.22  19.22  19.22     Low  1990
3    1990-01-05  20.11  20.11  20.11  20.11  Medium  1990
4    1990-01-08  20.26  20.26  20.26  20.26  Medium  1990
...         ...    ...    ...    ...    ...     ...   ...
8573 2024-01-02  13.22  14.23  13.10  13.20     Low  2024
8574 2024-01-03  13.35  14.22  13.33  14.04     Low  2024
8575 2024-01-04  13.93  14.20  13.64  14.13     Low  2024
8576 2024-01-05  14.24  14.58  13.29  13.35     Low  2024
8577 2024-01-08  14.00  14.18  13.02  13.08     Low  2024

[8578 rows x 7 columns]

In [ ]:
# Add Rows:  a) Add a new row with a date of your choice and fill the other columns with appropriate values

In [55]:
new_rows= {'DATE': "2024-01-09", 'OPEN': 20.00, 'HIGH':15.5,'LOW':15.1,'CLOSE':15.7, 'LEVEL':'Low', 'YEAR':2024}

In [57]:
print(new_rows)

{'DATE': '2024-01-09', 'OPEN': 20.0, 'HIGH': 15.5, 'LOW': 15.1, 'CLOSE': 15.7, 'LEVEL': 'Low', 'YEAR': 2024}

In [58]:
data_2024= data_2024.append(new_rows, ignore_index=True)

<ipython-input-58-dbf1f5159413>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_2024= data_2024.append(new_rows, ignore_index=True)

In [59]:
print(data_2024)

                     DATE   OPEN   HIGH    LOW  CLOSE   LEVEL    Year    YEAR
0     1990-01-02 00:00:00  17.24  17.24  17.24  17.24     Low  1990.0     NaN
1     1990-01-03 00:00:00  18.19  18.19  18.19  18.19     Low  1990.0     NaN
2     1990-01-04 00:00:00  19.22  19.22  19.22  19.22     Low  1990.0     NaN
3     1990-01-05 00:00:00  20.11  20.11  20.11  20.11  Medium  1990.0     NaN
4     1990-01-08 00:00:00  20.26  20.26  20.26  20.26  Medium  1990.0     NaN
...                   ...    ...    ...    ...    ...     ...     ...     ...
8575  2024-01-04 00:00:00  13.93  14.20  13.64  14.13     Low  2024.0     NaN
8576  2024-01-05 00:00:00  14.24  14.58  13.29  13.35     Low  2024.0     NaN
8577  2024-01-08 00:00:00  14.00  14.18  13.02  13.08     Low  2024.0     NaN
8578           2024-01-09  20.00  15.50  15.10  15.70     Low     NaN  2024.0
8579           2024-01-09  20.00  15.50  15.10  15.70     Low     NaN  2024.0

[8580 rows x 8 columns]