## 1.1 Tuple

### 1. To access the first element, I used "[1]" and to access element 0 of the first element, I used "[0]"

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25)) 

print(tuple1[1][0])

### 2. To access the last item, I used [2] for selecting location

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[2])

### 3. We change the word "Orange" replacing it with "pink grapefruit". In this case, it is posisble to replace the elements of the tuple1, because we are just renaming the composition of the first item of the tuple1 and keeping the rest items.

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1 = ("pink grapefruit", [10, 20, 30], (5, 15, 25))
print(tuple1)

### 4. We apply the "Len" function to calculate the number of items

In [ ]:
len(tuple1)

###  5. We use "map" to apply the sum list function to each sublist in tuple2

In [ ]:
tuple2 = ([7, 8], [9, 1], [10, 7])
X = sum(map(sum, tuple2))
print(X)

### 6. We use "map" to apply the sum list function to each sublist in tuple3 but first, we need to find the half values of tuple2

In [ ]:
tuple3 = ([3.5, 4], [4.5, 0.5], [5, 3.5])
y= sum(map(sum , tuple3))
print(y)

## 1.2 List

In [ ]:
1. Show the indices of the np.nan values in the f_list list. We want to see this output: The indices 0, 1, 4, 7 have np.nan values. Hint: Use print function and f-strings to insert the indices values.

In [ ]:
nan_indices = [index for index, val in enumerate(f_list) if isinstance(val, float) and np.isnan(val)]
print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")

In [ ]:
2. Replicate 4 times the values of the list p2_list. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]

In [ ]:
p2_list = [2, 3, 4, 5]
replicated = p2_list * 4
print(replicated)

In [ ]:
3. Print the length of f_list.

In [ ]:
print("f_list", len(f_list))

In [ ]:
4. Print My teacher assistant is so boring. using text1 list.

In [ ]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
string = ' '.join(text1)
print(string)

In [ ]:
5. Print My TA is so boring, but is very funny. using text1 list.

In [ ]:
text1.extend(['but', 'is', 'very', 'funny.'])
print(' '.join(text1))

In [ ]:
6. Print The max value of values1 is 86 and is located in the 0 index.

In [ ]:
text1.extend(['but', 'is', 'very', 'funny.'])
print(' '.join(text1))

In [ ]:
7. Get two lists: `names` and `last_names` using `last_and_name` list.

In [ ]:
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
names = list(map(lambda full_name: full_name.split(',')[1].lstrip(), last_and_name))
print("Names:", names)

In [ ]:
last_names = list(map(lambda full_name: full_name.split(',')[0], last_and_name))
print("Last Names:", last_names)