# tuple

In [2]:
1.
tuple1 = ("Orange", [10, 20, 30], (5, 15, 20))

In [3]:
tuple1[1][0]

10

In [4]:
2.
tuple1[2][2]

20

In [5]:
3.

3.0

In [6]:
"We can't change it, because a tuple is an inmutable"

"We can't change it, because a tuple is an inmutable"

In [7]:
4.
len(tuple1)

3

In [8]:
print(len(tuple1))

3

In [9]:
5.
tuple2 = ([7, 8], [9, 1], [10, 7])

In [10]:
'Step 1: We must use the function "map" to sum in each sublist of tuple2'

'Step 1: We must use the function "map" to sum in each sublist of tuple2'

In [11]:
map_input = map(sum, tuple2)

In [12]:
"Step 2: We must transform map input to a list"

'Step 2: We must transform map input to a list'

In [13]:
list1 = list(map_input)

In [14]:
"Step 3: We must sum all elements of the list"

'Step 3: We must sum all elements of the list'

In [15]:
result = sum(list1)

In [16]:
print(result)

42

In [17]:
6.

6.0

In [18]:
"We use lambda to achieve the same result concisely"

'We use lambda to achieve the same result concisely'

In [19]:
tuple3 = tuple(map(lambda values: [x / 2 for x in values], tuple2))
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

#LIST

In [20]:
#Task 1. 
import numpy as np

f_list = [np.nan, np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan]

nan_indices = [i for i, value in enumerate(f_list) if isinstance(value, float) and np.isnan(value)]

if nan_indices:
    print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")
else:
    print("There are no np.nan values in the list.")

The indices 0, 1, 4, 7 have np.nan values.

In [21]:
import numpy as np

# Task 2: Replicate 4 times the values of the list p2_list.
p2_list = [2, 3, 4, 5]
replicated_list = p2_list * 4
print(replicated_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [22]:
# Task 3: Print the length of f_list.
f_list = [np.nan, np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan]
print(f"The length of f_list is {len(f_list)}.")

The length of f_list is 8.

In [23]:
# Task 4: Print 'My teacher assistant is so boring.' using text1 list.
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
print(' '.join(text1))

My teacher assistant is so boring.

In [24]:
# Task 5: Print 'My TA is so boring, but is very funny.' using text1 list.
text1.extend(['but', 'is', 'very', 'funny.'])
print(' '.join(text1))

My teacher assistant is so boring. but is very funny.

In [25]:
# Task 6: Print max and min values of values1 with their indices.
values1 = [86, 86, 85, 85, 85, 83, 23, 0, 84, 1]
max_index = values1.index(max(values1))
min_index = values1.index(min(values1))
print(f"The max value of values1 is {max(values1)} and is located in the {max_index} index.")
print(f"The min value of values1 is {min(values1)} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

In [40]:
# Task 7: Get two lists 'names' and 'last_names' using 'last_and_name' list.
last_and_name = ["CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO"]
names, last_names = zip(*map(lambda x: x.split(', '), last_and_name))
print(names, last_names)

('CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA') ('CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO')

In [27]:
# Task 8: Give only the last names of students who do not have an email.
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "", "", "abel.camacho@pucp.pe"]
no_email_last_names = [last_names[i] for i, email in enumerate(emails) if not email]
print(f"Last names of students without an email: {', '.join(no_email_last_names)}")

Last names of students without an email: ANGELICA KARINA, JOSE ROBERTO

#STRINGS

In [28]:
#01. 
str1 = 'I am                            too                                                        old'
str1 = ' '.join(str1.split())
print(str1)

I am too old

In [29]:
#02.
num_letras = len([c for c in str1 if c.isalpha()])
print(num_letras)

9

In [30]:
#03. 
num_espacios = len([c for c in str1 if c.isspace()])
print(num_espacios)

3

In [31]:
#04. 
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]
posiciones_arroba = list(map(lambda email: email.find('@'), emails))
print(posiciones_arroba)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

In [32]:
#05. 
contiene_edu = list(map(lambda email: ".edu." in email, emails))
print(contiene_edu)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

In [33]:
#06. 
antes_del_punto = list(map(lambda email: email.split('.')[0], emails))
con_arroba = sum('@' in parte for parte in antes_del_punto)
print(con_arroba)

14