# 1 Assignment 3

In [1]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter. Update the dictionary.**

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

6. Get the min, max, sd, n_obs, n_missing for the following columns **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)**. We want a dataframe with the following columns **Variables, Min, Max, Mean, N_obs, N_missing** and sort by the number of missing rows. **Hint: Use `describe` and `pivot` methods**

7. Use `endes_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

8. Reshape `mean_key_vars` from wide to long. We want a dataframe with three columns **dpto, variables, values**. Name this object as `reshape_mean_key_vars`. **Hint: Use melt method**.

9. Replicate your answers for questions 7 and 8, but in one line of code. Make it the most simple as possible. **NO HINT**

10. Merge `reshape_mean_key_vars` with `endes_2019`. Name this object `final_result`. **Hint: Use merge.**

In [14]:
# Paso 1:

import pyreadstat

# File paths
rec_1_path = "../../_data/endes/2019/REC0111.sav"
rec_2_path = "../../_data/endes/2019/RE223132.sav"
rec_3_path = "../../_data/endes/2019/RE516171.sav"

# Import data and metadata
rec_1, meta_1 = pyreadstat.read_sav(rec_1_path)
rec_2, meta_2 = pyreadstat.read_sav(rec_2_path)
rec_3, meta_3 = pyreadstat.read_sav(rec_3_path)

# Naming variables and values labels
var_labels1 = meta_1.column_labels
value_labels1 = meta_1.variable_value_labels

var_labels2 = meta_2.column_labels
value_labels2 = meta_2.variable_value_labels

var_labels3 = meta_3.column_labels
value_labels3 = meta_3.variable_value_labels

In [25]:
# paso 2
# Select columns for each dataset
columns_rec1 = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133']
columns_rec2 = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']
columns_rec3 = ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']

# Create new DataFrames with selected columns
rec1_1 = rec_1[columns_rec1].copy()
rec2_1 = rec_2[columns_rec2].copy()
rec3_1 = rec_3[columns_rec3].copy()

# Update variable and value labels objects
new_var_labels1 = {col: label for col, label in zip(columns_rec1, meta_1.column_labels)}
new_var_labels2 = {col: label for col, label in zip(columns_rec2, meta_2.column_labels)}
new_var_labels3 = {col: label for col, label in zip(columns_rec3, meta_3.column_labels)}

new_value_labels1 = {col: labels for col, labels in zip(columns_rec1, meta_1.variable_value_labels.values())}
new_value_labels2 = {col: labels for col, labels in zip(columns_rec2, meta_2.variable_value_labels.values())}
new_value_labels3 = {col: labels for col, labels in zip(columns_rec3, meta_3.variable_value_labels.values())}

In [20]:
# paso 3
# Import data and metadata
rec_1, meta_1 = pyreadstat.read_sav(rec_1_path)
# ... (otros conjuntos de datos)

# Naming variables and values labels
var_labels1 = meta_1.column_labels
value_labels1 = meta_1.variable_value_labels

In [21]:
# PASO 4: Merge rec1_1, rec2_1, and rec3_1 using CASEID. Name this new object as endes_2019.
endes_2019 = pd.merge(rec1_1, rec2_1, on='CASEID')
endes_2019 = pd.merge(endes_2019, rec3_1, on='CASEID')

In [26]:
# Paso 5
# Combine variable labels
var_labels = {**new_var_labels1, **new_var_labels2, **new_var_labels3}

# Combine value labels
value_labels = {**new_value_labels1, **new_value_labels2, **new_value_labels3}

# Set new attributes for endes_2019
endes_2019.var_labels = var_labels
endes_2019.value_labels = value_labels

C:\Users\deivi\AppData\Local\Temp\ipykernel_15596\3993982802.py:9: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  endes_2019.var_labels = var_labels
C:\Users\deivi\AppData\Local\Temp\ipykernel_15596\3993982802.py:10: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  endes_2019.value_labels = value_labels

In [27]:
# PASO 6: Get the min, max, sd, n_obs, n_missing for the specified columns and create a dataframe.
# We want a dataframe with the following columns: Variables, Min, Max, Mean, N_obs, N_missing
# Sort the dataframe by the number of missing rows.

columns_of_interest = ['V201', 'V613', 'V715', 'V511']

# Initialize an empty list to store results
summary_data = []

for column in columns_of_interest:
    min_val = endes_2019[column].min()
    max_val = endes_2019[column].max()
    mean_val = endes_2019[column].mean()
    n_obs = endes_2019[column].count()
    n_missing = endes_2019.shape[0] - n_obs

    summary_data.append({
        'Variable': column,
        'Min': min_val,
        'Max': max_val,
        'Mean': mean_val,
        'N_obs': n_obs,
        'N_missing': n_missing
    })

# Create a DataFrame from the summary data
summary_df = pd.DataFrame(summary_data)

# Sort the DataFrame by the number of missing rows
summary_df = summary_df.sort_values(by='N_missing', ascending=False)

summary_df

  Variable   Min   Max       Mean  N_obs  N_missing
2     V715   0.0  98.0  11.624474  25881       7430
3     V511  10.0  48.0  20.463738  25881       7430
0     V201   0.0  13.0   1.975113  33311          0
1     V613   0.0  96.0   2.455345  33311          0