# 1 Assignment 3

In [1]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter. Update the dictionary.**

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

6. Get the min, max, sd, n_obs, n_missing for the following columns **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)**. We want a dataframe with the following columns **Variables, Min, Max, Mean, N_obs, N_missing** and sort by the number of missing rows. **Hint: Use `describe` and `pivot` methods**

7. Use `endes_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

8. Reshape `mean_key_vars` from wide to long. We want a dataframe with three columns **dpto, variables, values**. Name this object as `reshape_mean_key_vars`. **Hint: Use melt method**.

9. Replicate your answers for questions 7 and 8, but in one line of code. Make it the most simple as possible. **NO HINT**

10. Merge `reshape_mean_key_vars` with `endes_2019`. Name this object `final_result`. **Hint: Use merge.**

In [6]:
# Paso 1:

import pyreadstat

# File paths
rec_1_path = "../../_data/endes/2019/REC0111.sav"
rec_2_path = "../../_data/endes/2019/RE223132.sav"
rec_3_path = "../../_data/endes/2019/RE516171.sav"

# Import data and metadata
rec_1, meta_1 = pyreadstat.read_sav(rec_1_path)
rec_2, meta_2 = pyreadstat.read_sav(rec_2_path)
rec_3, meta_3 = pyreadstat.read_sav(rec_3_path)

# Naming variables and values labels
var_labels1 = meta_1.column_labels
value_labels1 = meta_1.variable_value_labels

var_labels2 = meta_2.column_labels
value_labels2 = meta_2.variable_value_labels

var_labels3 = meta_3.column_labels
value_labels3 = meta_3.variable_value_labels

In [7]:
# paso 2
# Select columns for each dataset
columns_rec1 = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133']
columns_rec2 = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']
columns_rec3 = ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']

# Create new DataFrames with selected columns
rec1_1 = rec_1[columns_rec1].copy()
rec2_1 = rec_2[columns_rec2].copy()
rec3_1 = rec_3[columns_rec3].copy()

# Update variable and value labels objects
new_var_labels1 = {col: label for col, label in zip(columns_rec1, meta_1.column_labels)}
new_var_labels2 = {col: label for col, label in zip(columns_rec2, meta_2.column_labels)}
new_var_labels3 = {col: label for col, label in zip(columns_rec3, meta_3.column_labels)}

new_value_labels1 = {col: labels for col, labels in zip(columns_rec1, meta_1.variable_value_labels.values())}
new_value_labels2 = {col: labels for col, labels in zip(columns_rec2, meta_2.variable_value_labels.values())}
new_value_labels3 = {col: labels for col, labels in zip(columns_rec3, meta_3.variable_value_labels.values())}

In [50]:
# paso 3
new_var_labels1
anio  = {'year' : 'Year of the survey'}
new_var_labels1.update(anio)

# Import data and metadata
rec_1, meta_1 = pyreadstat.read_sav(rec_1_path)
# ... (otros conjuntos de datos)

# Naming variables and values labels
var_labels1 = meta_1.column_labels
value_labels1 = meta_1.variable_value_labels

In [12]:
import pandas as pd

In [51]:
# PASO 4: Merge rec1_1, rec2_1, and rec3_1 using CASEID. Name this new object as endes_2019.
endes_2019 = pd.merge(rec1_1, rec2_1, on='CASEID')
endes_2019 = pd.merge(endes_2019, rec3_1, on='CASEID')

In [52]:
# Paso 5
# Combine variable labels
var_labels = {**new_var_labels1, **new_var_labels2, **new_var_labels3}

# Combine value labels
value_labels = {**new_value_labels1, **new_value_labels2, **new_value_labels3}

# Set new attributes for endes_2019
endes_2019.var_labels = var_labels
endes_2019.value_labels = value_labels

C:\Users\user\AppData\Local\Temp\ipykernel_15928\3993982802.py:9: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  endes_2019.var_labels = var_labels
C:\Users\user\AppData\Local\Temp\ipykernel_15928\3993982802.py:10: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  endes_2019.value_labels = value_labels

In [53]:
# PASO 6: Get the min, max, sd, n_obs, n_missing for the specified columns and create a dataframe.
# We want a dataframe with the following columns: Variables, Min, Max, Mean, N_obs, N_missing
# Sort the dataframe by the number of missing rows.

columns_of_interest = ['V201', 'V613', 'V715', 'V511']

# Initialize an empty list to store results
summary_data = []

for column in columns_of_interest:
    min_val = endes_2019[column].min()
    max_val = endes_2019[column].max()
    mean_val = endes_2019[column].mean()
    n_obs = endes_2019[column].count()
    n_missing = endes_2019.shape[0] - n_obs

    summary_data.append({
        'Variable': column,
        'Min': min_val,
        'Max': max_val,
        'Mean': mean_val,
        'N_obs': n_obs,
        'N_missing': n_missing
    })

# Create a DataFrame from the summary data
summary_df = pd.DataFrame(summary_data)

# Sort the DataFrame by the number of missing rows
summary_df = summary_df.sort_values(by='N_missing', ascending=False)

summary_df

  Variable   Min   Max       Mean  N_obs  N_missing
2     V715   0.0  98.0  11.624474  25881       7430
3     V511  10.0  48.0  20.463738  25881       7430
0     V201   0.0  13.0   1.975113  33311          0
1     V613   0.0  96.0   2.455345  33311          0

In [54]:
endes_2019

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
2,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
3,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
4,2019.0,000113601,000113601 2,1.0,136.0,2.0,1.0,2019.0,1434.0,11.0,...,2005.0,1272.0,1.0,17.0,13.0,3.0,15.0,2.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33306,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,1985.0,1032.0,1.0,14.0,34.0,7.0,12.0,3.0,0.0,5.0
33307,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,2002.0,1236.0,1.0,14.0,17.0,4.0,12.0,3.0,0.0,7.0
33308,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,1986.0,1043.0,1.0,13.0,33.0,7.0,12.0,4.0,0.0,5.0
33309,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,2008.0,1301.0,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0
33310,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,2013.0,1362.0,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0

In [23]:
import numpy as np

In [55]:
# To find the mean of total chindren ever born, ideal number of children, husbands education single years and age at first marriage by year and department we use 'groupby()' function and 'agg()'

mean_key_vars = (
    endes_2019
    .loc[:,['year','V024','V201','V613','V715','V511']]
    .groupby( ['year','V024'], as_index = False ) 
    .agg(Mean_total_children = ( 'V201', np.mean ),
         Mean_ideal_children = ( 'V613', np.mean ),
         Mean_hb_yr_educ = ( 'V715', np.mean ),
         Mean_first_marriage = ( 'V511', np.mean ))
    .round(2) # Redondear
    .rename(columns = {'year':'Year', 'V024':'Dpto'})
    .astype({'Dpto': int})
)
mean_key_vars

,Year,Dpto,Mean_total_children,Mean_ideal_children,Mean_hb_yr_educ,Mean_first_marriage
0,2019,1,2.26,2.52,9.61,19.27
1,2019,2,1.96,2.38,11.79,20.59
2,2019,3,2.27,2.39,11.06,20.06
3,2019,4,1.65,2.44,13.71,22.30
4,2019,5,2.05,2.21,11.29,20.34
5,2019,6,2.18,2.55,9.76,19.61
6,2019,7,1.70,2.31,13.33,21.52
7,2019,8,2.11,2.10,11.20,20.28
8,2019,9,2.36,4.01,11.01,19.78
9,2019,10,2.25,2.59,9.90,19.82
10,2019,11,1.82,2.49,12.35,20.75
11,2019,12,2.03,2.20,11.22,20.68
12,2019,13,1.90,2.43,10.76,20.77
13,2019,14,1.84,3.17,11.55,20.95
14,2019,15,1.61,2.28,13.12,21.95
15,2019,16,2.49,2.48,10.11,18.45
16,2019,17,2.20,2.53,12.41,19.47
17,2019,18,1.75,2.05,12.96,21.64
18,2019,19,2.08,2.53,12.60,20.40
19,2019,20,2.02,2.68,11.73,20.45
20,2019,21,1.98,2.12,11.17,20.40
21,2019,22,2.10,2.49,9.71,18.95
22,2019,23,1.54,2.01,12.82,22.07
23,2019,24,1.94,2.47,11.86,19.41
24,2019,25,2.29,2.39,10.79,18.99

In [56]:
# To reshape a DataFrame from wide to long using the melt method, we drop the 'year' variable and use the 'pd.melt' function.
# The new variable 'Variables' will contain the columns from 'mean_key_vars', and it will create a column called 'value'.

reshape_mean_key_vars = (
    pd.melt(mean_key_vars.drop('Year', axis=1), id_vars=['Dpto'], var_name=['Variables'])
    .rename(columns = {'value':'Values'})
)
reshape_mean_key_vars

    Dpto            Variables  Values
0      1  Mean_total_children    2.26
1      2  Mean_total_children    1.96
2      3  Mean_total_children    2.27
3      4  Mean_total_children    1.65
4      5  Mean_total_children    2.05
..   ...                  ...     ...
95    21  Mean_first_marriage   20.40
96    22  Mean_first_marriage   18.95
97    23  Mean_first_marriage   22.07
98    24  Mean_first_marriage   19.41
99    25  Mean_first_marriage   18.99

[100 rows x 3 columns]

In [58]:
# We summarize the functions used in exercises 7 and 8 to obtain recquired DataFrame.

reshape_mean_key_vars = (endes_2019.
                         groupby(['year','V024'], as_index = False) # Exercise 7. groupby
                         .agg(Mean_total_children = ('V201', np.mean), Mean_ideal_children = ('V613', np.mean), Mean_hb_yr_educ = ('V715', np.mean), Mean_first_marriage = ('V511', np.mean)) # Exercise 7. agg(regate) new values
                         .round(2) # Round the values at 2 decimals
                         .drop(columns = 'year') # Remove
                         .melt(id_vars=['V024'], var_name=['Variables'])) # Exercise 8. Melt
reshape_mean_key_vars

    V024            Variables  value
0    1.0  Mean_total_children   2.26
1    2.0  Mean_total_children   1.96
2    3.0  Mean_total_children   2.27
3    4.0  Mean_total_children   1.65
4    5.0  Mean_total_children   2.05
..   ...                  ...    ...
95  21.0  Mean_first_marriage  20.40
96  22.0  Mean_first_marriage  18.95
97  23.0  Mean_first_marriage  22.07
98  24.0  Mean_first_marriage  19.41
99  25.0  Mean_first_marriage  18.99

[100 rows x 3 columns]

In [59]:
# We use merge method To merge the 'endes_2019' and 'reshape_mean_key_vars' DataFrames based on the common column 'V024' 
# (representing 'Dpto' or Department) and to include all rows from the 'left' DataFrame (endes_2019).

final_result = pd.merge(endes_2019, reshape_mean_key_vars, on='V024', how='left')
final_result

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,V510,V511,V512,V513,V525,V613,V714,V715,Variables,value
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0,Mean_total_children,2.26
1,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0,Mean_ideal_children,2.52
2,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0,Mean_hb_yr_educ,9.61
3,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0,Mean_first_marriage,19.27
4,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0,Mean_total_children,2.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133239,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0,Mean_first_marriage,18.99
133240,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0,Mean_total_children,2.29
133241,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0,Mean_ideal_children,2.39
133242,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0,Mean_hb_yr_educ,10.79
133243,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0,Mean_first_marriage,18.99